
@font-face {
  font-family: "Inter";
  src: url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
}

body {
  font-family: 'Inter', sans-serif;
  color: #28352f;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.headline {
  background-image: url("./Images/header-illustration-mobile.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}

h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  margin: 26px;
}

h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  margin: 26px;
}

p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
  padding: 20px;
  padding-top: 20px;
}

li {
  display: inline;
  list-style-type: none;
  padding: 7px;
}

ul {
  padding: 0;
  text-align: center;
}

.greenheader {
  color: #36b37e;
  text-align: center;
}

.logo {
  text-align: left;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

.hamburguer {
  width: 18px;
  height: 12px;
  left: 3px;
  top: 6px;
}

.works {
  display: grid;
  grid-template-rows: repeat(6, auto);
  row-gap: 20px;
  justify-items: center;
}

.works-heading {
  grid-row: 1 / 2;
}

.work-item01 {
  width: 327px;
  height: 474px;
  border-radius: 8px;
  background-color: #ebf0ee;
  border: 1px solid #d0d9d4;
  margin-left: 34.5px;
  margin-right: 34.5px;
  grid-row: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.work-item02 {
  width: 327px;
  height: 474px;
  border-radius: 8px;
  background-color: #ebf0ee;
  border: 1px solid #d0d9d4;
  margin-left: 34.5px;
  margin-right: 34.5px;
  grid-row: 3 / 4;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.work-item03 {
  width: 327px;
  height: 474px;
  border-radius: 8px;
  background-color: #ebf0ee;
  border: 1px solid #d0d9d4;
  margin-left: 34.5px;
  margin-right: 34.5px;
  grid-row: 4 / 5;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.work-item04 {
  width: 327px;
  height: 474px;
  border-radius: 8px;
  background-color: #ebf0ee;
  border: 1px solid #d0d9d4;
  margin-left: 34.5px;
  margin-right: 34.5px;
  grid-row: 5 / 6;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.work-item05 {
  width: 327px;
  height: 474px;
  border-radius: 8px;
  background-color: #ebf0ee;
  border: 1px solid #d0d9d4;
  margin-left: 34.5px;
  margin-right: 34.5px;
  grid-row: 6 / 7;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.work-content {
  width: 295px;
  padding: 16px;
  border-radius: 8px;
  background-color: #fff;
  display: grid;
  gap: 16px;
  grid-template-rows: 57px 32px 69px;
  align-content: center;
}

.work-title {
  width: auto;
  margin: 0px;
  font-weight: 600;
  font-size: 24px;
  color: #3a4a42;
  text-align: center;
  grid-row: 1 / 2;
}

.cards {
  width: 305px;
  height: 32px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  grid-row: 2 / 3;
}

.cards li {
  background-color: #ebf0ee;
  border-radius: 4px;
  font-weight: 600;
  font-size: 12px;
  color: #3a4a42;
  padding: 8px, 12px, 8px, 12px;
}

.see-project {
  height: 48px;
  border: none; 
  border-radius: 4px;
  padding: 12px;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: #36b37f;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
  color: #fff;
  margin-left: 86.5px;
  margin-right: 86.5px;
  grid-row: 3 / 4;
}

.aboutme {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* To add the background images */
.bg-1 {
  height: 127px;
  width: 396px;
  background-image: url("./Images/aboutme_frame02.png");
  background-repeat: no-repeat;
  background-position: 100% 0%;
  display: flex;
  justify-content: center;
}

.aboutme-heading {
  margin: 0;
  margin-top: 60px;
  width: 370px;
}

.bg-2 {
  height: 65px;
  width: 396px;
  background-image: url("./Images/aboutme_frame01.png");
  background-repeat: no-repeat;
  background-position: 0% 100%;
  display: flex;
  justify-content: center;
}

.resume-button {
  height: 48px;
  border: none; 
  border-radius: 4px;
  padding: 12px;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: #36b37f;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
  color: #fff;
}

.languages {
  display: grid;
  grid-template-rows: 16px 128px 40px 32px 24px 40px 64px;
  border-radius: 8px;
  background-color: #ebf0ee;
  border: 1px solid #c1c7d0;
  width: 327px;
  height: 352px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.language-icon {
  margin: 0;
  padding: 0;
  grid-row: 2 / 3;
}

.languages-title {
  margin: 0;
  padding: 0;
  grid-row: 4 / 5;
  font-weight: 600;
  font-size: 24px;
  color: #344563;
  text-align: center;
}

.languages-cards {
  margin: 0;
  margin-left: 28px;
  margin-right: 28px;
  padding: 0;
  grid-row: 6 / 7;
  width: 271px;
  height: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.languages-cards li {
  background-color: #fff;
  border-radius: 4px;
  font-weight: 600;
  font-size: 12px;
  color: #36b37e;
  padding: 12px;
}

.frameworks {
  display: grid;
  grid-template-rows: 16px 128px 40px 32px 24px 80px 24px;
  border-radius: 8px;
  background-color: #ebf0ee;
  border: 1px solid #c1c7d0;
  width: 327px;
  height: 352px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.framework-icon {
  margin: 0;
  padding: 0;
  grid-row: 2 / 3;
}

.framework-title {
  margin: 0;
  padding: 0;
  grid-row: 4 / 5;
  font-weight: 600;
  font-size: 24px;
  color: #344563;
  text-align: center;
}

.framework-cards {
  margin: 0;
  padding: 0;
  grid-row: 6 / 7;
  width: 327px;
  height: 88px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.framework-cards li {
  background-color: #fff;
  border-radius: 8px;
  font-weight: 600;
  font-size: 12px;
  color: #36b37e;
  padding: 12px;
  height: 15px;
  margin: 4px;
}
