
body {
  font-family: 'Inter', sans-serif;
  color: #28352f;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  text-align: center;
}

/* begin of the hamburguer menu */

.mobile-menu {
  width: 90vw;
  height: 100vh;
  padding-left: 7.5%;
  padding-top: 15%;
  top: 0%;
  left: -120%;
  color: #3a4a42;
  background-color: #fff;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-right: 9%;
  line-height: 44px;
}

.mobile-menu.active {
  left: 0%;
}

.close {
  text-align: end;
  color: #67798e;
  font-size: 40px;
  cursor: pointer;
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mobile-link {
  padding: 4%;
  color: inherit;
  color: #3a4a42;
  text-decoration: none;
}

/* finish hamburguer menu */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.menu {
  display: none;
}

.headline {
  background-image: url("./Images/header-illustration-mobile.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}

.hb-01 {
  display: none;
}

h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  margin: 26px;
}

h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  margin: 26px;
}

p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
  padding: 20px;
  padding-top: 20px;
}

li {
  display: inline;
  list-style-type: none;
  padding: 7px;
}

ul {
  padding: 0;
  text-align: center;
}

.greenheader {
  color: #36b37e;
  text-align: center;
}

.logo {
  text-align: left;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

.hamburguer {
  width: 18px;
  height: 12px;
  left: 3px;
  top: 6px;
  cursor: pointer;
}

.works {
  display: grid;
  grid-template-rows: repeat(6, auto);
  row-gap: 20px;
}

.works-heading {
  grid-row: 1 / 2;
  width: auto;
}

.work-item {
  max-width: 327px;
  height: 474px;
  border-radius: 8px;
  background-color: #ebf0ee;
  border: 1px solid #d0d9d4;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.wi-01 {
  grid-row: 2 / 3;
}

.wi-02 {
  grid-row: 3 / 4;
}

.wi-03 {
  grid-row: 4 / 5;
}

.wi-04 {
  grid-row: 5 / 6;
}

.wi-05 {
  grid-row: 6 / 7;
}

.wi-06 {
  display: none;
}

.work-content {
  max-width: 295px;
  padding: 16px;
  border-radius: 8px;
  background-color: #fff;
  display: grid;
  gap: 16px;
  grid-template-rows: 57px 32px 69px;
  align-content: center;
}

.work-title {
  width: auto;
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  color: #3a4a42;
  text-align: center;
  grid-row: 1 / 2;
}

.cards {
  width: 305px;
  height: 32px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  grid-row: 2 / 3;
}

.cards li {
  background-color: #ebf0ee;
  border-radius: 4px;
  font-weight: 600;
  font-size: 12px;
  color: #3a4a42;
  padding: 8px 12px 8px 12px;
}

.see-project {
  height: 48px;
  border: none;
  border-radius: 4px;
  padding: 12px;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: #36b37f;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
  color: #fff;
  margin-left: 86.5px;
  margin-right: 86.5px;
  grid-row: 3 / 4;
  cursor: pointer;
}

/* Button styling */

button:hover {
  color: #fff;
  background: #36b37f;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

button:active {
  color: #fff;
  background: #008552;
}

.aboutme {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hl-aboutme {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* To add the background images */
.bg-1 {
  height: 127px;
  width: 396px;
  background-image: url("./Images/aboutme_frame02.png");
  background-repeat: no-repeat;
  background-position: 100% 0%;
  display: flex;
  justify-content: center;
}

.aboutme-heading {
  margin: 0;
  margin-top: 60px;
  width: 370px;
}

.bg-2 {
  height: 65px;
  width: 396px;
  background-image: url("./Images/aboutme_frame01.png");
  background-repeat: no-repeat;
  background-position: 0% 100%;
  display: flex;
  justify-content: center;
}

.resume-button {
  height: 48px;
  border: none;
  border-radius: 4px;
  padding: 12px;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: #36b37f;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
  color: #fff;
}

.br-02 {
  margin: 40px;
}

.languages {
  display: grid;
  grid-template-rows: 16px 128px 40px 32px 24px 40px 64px;
  border-radius: 8px;
  background-color: #ebf0ee;
  border: 1px solid #c1c7d0;
  max-width: 327px;
  height: 352px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.language-icon {
  margin: 0;
  padding: 0;
  grid-row: 2 / 3;
}

.languages-title {
  margin: 0;
  padding: 0;
  grid-row: 4 / 5;
  font-weight: 600;
  font-size: 24px;
  color: #344563;
  text-align: center;
}

.languages-cards {
  margin: 0;
  margin-left: 28px;
  margin-right: 28px;
  padding: 0;
  grid-row: 6 / 7;
  width: 271px;
  height: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.languages-cards li {
  background-color: #fff;
  border-radius: 4px;
  font-weight: 600;
  font-size: 12px;
  color: #36b37e;
  padding: 12px;
}

.frameworks {
  display: grid;
  grid-template-rows: 16px 128px 40px 32px 24px 80px 24px;
  border-radius: 8px;
  background-color: #ebf0ee;
  border: 1px solid #c1c7d0;
  width: 327px;
  height: 352px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.framework-icon {
  margin: 0;
  padding: 0;
  grid-row: 2 / 3;
}

.framework-title {
  margin: 0;
  padding: 0;
  grid-row: 4 / 5;
  font-weight: 600;
  font-size: 24px;
  color: #344563;
  text-align: center;
}

.framework-cards {
  margin: 0;
  padding: 0;
  grid-row: 6 / 7;
  width: 327px;
  height: 88px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.framework-cards li {
  background-color: #fff;
  border-radius: 8px;
  font-weight: 600;
  font-size: 12px;
  color: #36b37e;
  padding: 12px;
  height: 15px;
  margin: 4px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("./Images/footer-frame.png");
  background-repeat: no-repeat;
  background-position: bottom 28% right;
}

.contact-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5%;
}

.ul-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 24px;
  font-size: 15px;
  font-weight: 400;
}

.input-name,
.input-email {
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  padding: 15px;
  width: 90%;
  color: #6b778c;
}

.input-comment {
  border: 1px solid #60c095;
  border-radius: 4px;
  width: 91.5%;
  height: 15vh;
  padding: 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #091e42;
  text-align: left;
}

.get-in-touch {
  height: 48px;
  width: 129px;
  border: none;
  border-radius: 4px;
  padding: 12px;
  background-color: #36b37f;
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
  color: #fff;
  cursor: pointer;
  align-self: center;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.footer-icons {
  margin: 0%;
}

.footer-email {
  color: #42526e;
  margin-top: 0%;
  margin-bottom: 50%;
}

.footer-line {
  width: 40%;
  height: 0.5vh;
  border: 1px solid black;
  background-color: black;
  border-radius: 4px;
  margin-bottom: 2%;
}

/* media query for desktop version */

@media only screen and (min-width: 768px) {
  /*
  * {
    outline: solid 1px red;
  } */

  /* Desktop alignment for headline section */
  .logo,
  .hamburguer {
    display: none;
  }

  .headline {
    background-image: url("./Images/Header-llustration-desktop.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0% 18% 20% 18%;
    margin-bottom: 10%;
  }

  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .menu-item {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
    padding: 12px;
    margin: 0%;
  }

  .hb-01 {
    display: block;
    margin: 3%;
  }

  h1,
  .greenheader {
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
  }

  .p-headline {
    padding-bottom: 0%;
    margin-bottom: 0%;
  }

  /* Desktop alignment for works section */
  .works {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 13% 474px 474px;
    gap: 4% 2%;
    margin: 8%;
    width: auto;
  }

  .works-heading {
    grid-column: 1 / span 3;
    grid-row: 1 / 2;
    margin: 0%;
  }

  .work-item {
    max-width: 369px;
  }

  .wi-01 {
    grid-area: 2 / 1 / 3 / 2;
  }

  .wi-02 {
    grid-area: 2 / 2 / 3 / 2;
  }

  .wi-03 {
    grid-area: 2 / 3 / 3 / 4;
  }

  .wi-04 {
    grid-area: 3 / 1 / 4 / 2;
  }

  .wi-05 {
    grid-area: 3 / 2 / 4 / 3;
  }

  .wi-06 {
    display: flex;
    grid-area: 3 / 3 / 4 / 4;
  }

  /* Desktop alignment for aboutme section */
  .aboutme {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px 352px;
    gap: 2% 2%;
    padding: 5.5% 9.3% 5.5% 9.3%;
    margin-top: 3%;
    width: auto;
    background-image: url("./Images/aboutme_frame_desktop01.png"), url("./Images/aboutme_frame_desktop02.png");
    background-repeat: no-repeat, no-repeat;
    background-position: top, 0% 25%;
    background-size: 100%, 13%;
  }

  .hl-aboutme {
    grid-column: 1 / span 3;
    grid-row: 1 / 2;
    margin: 0%;
    width: 75%;
    justify-self: center;
  }

  .bg-1,
  .bg-2 {
    background-image: none;
    height: auto;
    width: auto;
  }

  .aboutme-heading,
  .p-aboutme {
    margin: 0%;
  }

  .p-aboutme {
    line-height: 32px;
  }

  .br-02 {
    display: none;
  }

  .languages {
    max-width: 369px;
    grid-area: 2 / 1 / 3 / 2;
    justify-self: center;
  }

  .frameworks {
    max-width: 369px;
    grid-area: 2 / 2 / 3 / 3;
    justify-self: center;
  }

  .skills {
    max-width: 369px;
    grid-area: 2 / 3 / 3 / 4;
    justify-self: center;
  }

  /* Desktop alignment for contact form section */
  .contact-grid {
    display: grid;
    grid-template: auto / 40% 60%;
    padding: 5.5% 9.3% 15.5% 9.3%;
    background-image:
      url("./Images/contact_frame_desktop01.png"),
      url("./Images/contact_frame_desktop02.png"),
      url("./Images/contact_frame_desktop03.png");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: left bottom, 22% 80%, right bottom;
    background-size: 13%, 9%, 13%;
  }

  .contact-header {
    font-size: 30px;
  }

  .form-items {
    grid-column: 2 / 3;
    grid-row: 1 / span 3;
    margin: 0%;
    width: 100%;
    justify-self: left;
    align-self: flex-start;
  }

  li .input-name,
  li .input-email,
  li .input-comment {
    width: 98%;
  }

  .get-in-touch {
    align-self: flex-start;
    margin-left: 7px;
  }

  .footer {
    margin: 0%;
    border-top: 1px solid #dfe1e6;
    padding: 2%;
  }

  .footer-email,
  .footer-line {
    display: none;
  }
}

/* -------CSS FOR POPUP MOBILE    */

.wrap-pop {
  background-color: rgb(0, 0, 0, 0.5);
  display: none;
  transition: 500ms ease-in-out;
  padding: 2%;
}

.wrap-pop.active {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.popup-mb {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  padding: 4%;
  transition: 200ms ease-in-out;
}

.img-pop {
  cursor: pointer;
}

.title-pop {
  color: #172b4d;
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
  text-align: left;
}

.cards-pop {
  gap: 8px;
  width: 305px;
  height: 32px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

.cards-pop li {
  background-color: #ebf0ee;
  border-radius: 4px;
  font-weight: 600;
  font-size: 12px;
  color: #3a4a42;
  padding: 8px 12px 8px 12px;
}

.p-pop {
  color: #344563;
  text-align: left;
  padding: 0;
  margin: 0;
  margin-top: 12px;
  margin-bottom: 16px;
}

.see-project1 {
  height: 48px;
  border: none;
  border-radius: 4px;
  padding: 12px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin: 0 3%;
  background-color: #36b37f;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
  color: #fff;
  cursor: pointer;
  width: auto;
}
